
<div class="container">
    <form action="answer">
      <h2>Enter any question:</h2>
      <input type="text" name="question">
      <input type="submit" value="Ask!" class="green_button" >
    </form>
</div>
